@import "variables";

@mixin teaserBlockTitle {
  text-transform: uppercase;
  color: #121212;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 40px;
  padding: 0 20px;
  opacity: 0.3;
}

@mixin teaserBlockData {
  &_body {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}