// Window width
$bigDesktopWidth: 1680px;
$mediumDesktopWidth: 1440px;
$smallDesktopWidth: 1280px;

$tableWidth: 991px;
$phoneWidth: 767px;

// Margin
$bigMargin: 60px;
$mediumMargin: 40px;
$smallMargin: 20px;

// Padding
$bigPadding: 30px;
$mediumPadding: 20px;
$smallPadding: 10px;

// Color
$whiteTitleColor: #ffffff;
$blackTitleColor: #1a1b1f;
$whiteTextColor: rgba(255,255,255);
$blackTextColor: rgba(0,0,0);
$blackBackground: #121212;
$whiteBackground: #ffffff;
$bodyBackground: #ECECEC;
$yellowBackground: #FFD335;
$grayBorderColor: #e5e5e5;
