// Window width
$bigDesktopWidth: 1440px;
$mediumDesktopWidth: 1320px;
$smallDesktopWidth: 1200px;

$bigTableWidth: 1140px;
$mediumTableWidth: 990px;
$smallTableWidth: 720px;

$bigPhoneWidth: 600px;
$mediumPhoneWidth: 540px;
$smallPhoneWidth: 320px;

// Margin
$bigMargin: 60px;
$mediumMargin: 40px;
$smallMargin: 20px;

// Padding
$bigPadding: 30px;
$mediumPadding: 20px;
$smallPadding: 10px;

// Color
$whiteTitleColor: #ffffff;
$blackTitleColor: #1a1b1f;
$whiteTextColor: rgba(255,255,255);
$blackTextColor: rgba(0,0,0);
$blackBackground: #121212;
$whiteBackground: #ffffff;
$bodyBackground: #ECECEC;
$yellowBackground: #FFD335;
