@import "variables";
@import "mixin";

.dark {
  .article-conatiner {
    .article {
      &-data {
        &_title,
        &_body,
        &_date {
          color: $whiteTextColor;
        }
      }
    }
  }
}

.whitearea {
  .article-conatiner {
    .article {
      &-data {
        &_title,
        &_body,
        &_date {
          color: $blackTextColor;
        }
      }
    }
  }
}

.article-conatiner {
  .article {
    padding: 0 $mediumPadding;
    &-image {
      img {
        width: 100%;
        height: auto;
      }
    }

    &-data {
      &_date {
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.2px;
        padding: 16px 0 $smallPadding;
        opacity: 0.5;
      }

      &_body {
        max-width: 100%;
        padding-top: $mediumPadding;
        opacity: 0.7;
      }

      &_title {
        font-size: 25px;
        line-height: 35px;
        letter-spacing: 0.3px;
        font-weight: 600;
      }
    }
  }
}


@media (max-width: $bigDesktopWidth) {
  .article-conatiner {
    .article {
      &-data {
        &_date {
          font-size: 11px;
          line-height: 11px;
        }
        &_title {
          font-size: 24px;
          line-height: 32px;
        }
        &_body {
          font-size: 15px;
          line-height: 23px;
        }
      }
    }
  }
}

@media (max-width: $phoneWidth) {
  .article-conatiner {
    .article {
      &-data {
        &_title {
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
  }
}