@import "variables";

.important_teaser{
  margin-bottom: 40px;
}

.feature-articles {

  .article-conatiner {
    margin: 0 20px;
  }

  a{
    text-decoration: none;
    color: $whiteTextColor;
  }
  .article-image{
    img {
      width: 100%;
    }
  }
  .article-data{
    &_date {
      font-weight: normal;
      font-size: 14px;
      line-height: 14px;
      color: #ffffff;
      opacity: 0.3;
      padding: 20px 0 10px;
    }
    &_title {
      font-weight: 600;
      font-size: 32px;
      line-height: 42px;
      letter-spacing: 0;
      color: #ffffff;
      opacity: 0.8;
      margin-bottom: 16px;
    }
    &_body {
      font-size: 18px;
      line-height: 28px;
      color: rgba(255, 255, 255, 0.5);
      font-weight: 200;
    }
  }
}

.second_teaser {
  .article-conatiner {
    margin-top: 20px;
    padding-bottom: 38px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    &:first-child {
      margin-top: 0;
    }
    &:last-child{
      border: none;
    }

    .article-data {
      &_date {
        letter-spacing: 0.5px;
        padding: 4px 0 10px;
        font-size: 14px;
        line-height: 14px;
      }
      &_title {
        font-size: 25px;
        line-height: 35px;
      }
    }
  }
}

@media (max-width: 1679px) {
  .articles {
    .article-image{
      img {
        width: 100%;
      }
    }
    .article-data{
      &_date {
        font-size: 11px;
        line-height: 11px;
      }
      &_title {
        font-weight: 600;
        font-size: 28px;
        line-height: 36px;
      }
      &_body {
        font-size: 16px;
        line-height: 26px;
      }
    }
  }

  .second_teaser {
    .article-conatiner {
      .article-data {
        &_date {
          letter-spacing: 0.5px;
          font-size: 11px;
          line-height: 11px;
        }
        &_title {
          font-weight: 600;
          font-size: 20px;
          line-height: 28px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .important_teaser{
    .article-conatiner{
      padding-bottom: 38px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      .article-data{
        max-width: 50%;
      }
    }
  }
}

@media (max-width: 767px) {
  .important_teaser{
    margin-bottom: 20px;
    .article-conatiner{
      margin: 0;
      .article-data{
        max-width: 100%;
      }
    }
  }

  .articles {
    .article-data{
      &_title {
        font-size: 24px;
        line-height: 32px;
      }
      &_body {
        font-size: 16px;
        line-height: 26px;
      }
    }
  }

  .second_teaser {
    .article-conatiner {
      margin: 20px 0 0 0;
      .article-image{
        order: 2;
        max-width: 41.66666667%;;
      }
      .article-data {
        &_date {
          padding: 0 0 10px;
        }
        &_title {
          font-weight: 600;
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
  }
}