@import "variables";
@import "mixin";

.artikel-terbaru-container {
  .artikel-terbaru-title {
    @include teaserBlockTitle;
  }

  .artikel-terbaru-articles {
    .article-conatiner {
      .article {
        padding: 0 12px;
        margin-bottom: 30px;

        &-data {
          @include teaserBlockData;
        }

        &-image {
          @include teaserObjectFitImage;

          img {
            width: 100%;
          }
        }
      }
    }
  }
}
