@import "variables";

.yellow{
    .static-block-container {
        margin-top: $mediumMargin;
        .static-block-data {
            align-self: auto;
            &_title{
                font-weight: 700;
                color: $blackTextColor;
            }
            &_body {
                color: $blackTextColor;
                opacity: 1;
            }
            &_read-more {
                a {
                    color: $whiteTextColor;
                    border: 1px solid $blackTextColor;
                    background-color: $blackBackground;

                    &:hover {
                        color: $blackTextColor;
                        background-color: $yellowBackground;
                    }
                }
            }
        }
    }
}

.dark {
    .static-block-container {
        margin-top: -$smallMargin;
        .static-block-data {
            align-self: center;

            &_title{
                color: $whiteTextColor;
            }
            &_body {
                color: $whiteTextColor;
                opacity: 0.5;
            }
            &_read-more {
                a {
                    color: $whiteTextColor;
                    border: 1px solid $whiteTextColor;
                    &:hover {
                        background-color: $whiteTextColor;
                        color: $blackTextColor;
                    }
                }
            }
        }
    }
}

.static-block-container {
    max-height: 640px;
    .static-block-data {
        height: max-content;
        padding: 0 40px;

        &_title{
            font-weight: 500;
            font-size: 55px;
            line-height: 65px;
            margin-bottom: 30px;
        }
        &_body {
            padding-right: 50px;
            margin-bottom: 50px;
            font-size: 22px;
        }
        &_read-more {
            a {
                font-size: 20px;
                font-weight: 400;
                padding: 15px 75px;
                transition: background-color 0.3s, color 0.3s;
            }
        }
    }
    .static-block-image {
        height: 550px;
        img {
            position: relative;
            z-index: 1;
            width: 100%;
            height: auto;
        }
    }
}

@media (min-width: $bigDesktopWidth) {
    .static-block-container {
        max-height: 600px;
        .static-block-data {
            &_title{
                font-size: 60px;
                line-height: 70px;
                margin-bottom: $mediumMargin;
            }
            &_body {
                font-size: 24px;
            }
            &_read-more {
                a {
                    font-size: 24px;
                    padding: 18px 80px;
                }
            }
        }
        .static-block-image {
            height: 600px;
        }
    }
}

@media (max-width: $smallDesktopWidth) {
    .static-block-container {
        .static-block-data {
            &_title{
                margin-bottom: 30px;
                font-weight: bold;
                font-size: 4vw;
            }
            &_body {
                margin-bottom: 45px;
                font-size: 1.5vw;
            }
            &_read-more {
                a {
                    font-size: 1.5vw;
                    padding: 15px 75px;
                }
            }
        }
        .static-block-image {
            height: 600px;
        }
    }     
}


@media (max-width: 1040px) {
    .static-block-container {
        max-height: 500px;
        .static-block-data {
            height: max-content;    
            &_title{
                margin-bottom: 30px;
                font-size: 3.5vw;
                line-height: 50px;
            }
            &_body {
                margin-bottom: 45px;
                font-size: 1.5vw;
            }
            &_read-more {
                a {
                    padding: 15px 75px;
                    font-size: 1.5vw;
                }
            }
        }
        .static-block-image {
            height: 500px;
        }
    }
    
}

@media (max-width: 900px) {
    .static-block-container {
        max-height: 400px;
        .static-block-data {
            height: max-content;    
            &_title{
                margin-bottom: $smallMargin;
                font-size: 3.5vw;
                line-height: 40px;
            }
            &_body {
                margin-bottom: 25px;
                font-size: 1.5vw;
            }
            &_read-more {
                height: 40px;
                a {
                    padding: 15px 75px;
                    font-size: 1.5vw;
                }
            }
        }
        .static-block-image {
            height: 400px;
        }
    }
    
}


@media (min-width: $phoneWidth) {
    .static-block-container {
        .col-lg-6.col-md-12{
            width: 50%;
        }
    }
}

@media (max-width: $phoneWidth) {
    .yellow{
        .static-block-container {
            margin-top: 0;
            .static-block-data {
                padding-top: 0;
            }
        }
    }

    .static-block-container {
        max-height: 1150px;
        .static-block-data {
            height: max-content;
            padding: 50px $smallPadding;
    
            &_title{
                font-size: 8vw;
                line-height: 70px;
                margin-bottom: $mediumMargin;
            }
            &_body {
                padding-right: 0;
                margin-bottom: 50px;
                font-size: 4vw;
            }
            &_read-more {
                height: 100px;
                a {
                    padding: 25px 0;
                    display: block;
                    width: 100%;
                    font-size: 3.5vw;
                    font-weight: 400;
                    text-align: center;
                }
            }
        }
        .static-block-image {
            height: 700px;
        }
    }
}

@media (max-width: 500px) {
    .static-block-container {
        max-height: 800px;
        .static-block-data {    
            &_title{
                font-size: 8vw;
                line-height: 50px;
                margin-bottom: $smallMargin;
            }
            &_body {
                margin-bottom: 30px;
            }
            &_read-more {
                height: 30px;
                a {
                    padding: $smallPadding 0;
                }
            }
        }
        .static-block-image {
            height: 700px;
        }
    }
}

@media (max-width: 410px) {
    .static-block-container {
        max-height: 550px;
        .static-block-data {    
            &_title{
                font-size: 7vw;
                line-height: 30px;
            }
            &_body {
                padding-right: 0;
                margin-bottom: $smallMargin;
            }
            &_read-more {
                height: 10px;
            }
        }
        .static-block-image {
            height: 700px;
        }
    }
}