@import "variables";

*{
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,h2,h3,h4 {
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: $bodyBackground;
}

.dark {
  padding: $mediumPadding 40px 40px 40px;
  background-color: $blackBackground;
  &.header-container {
    padding-bottom: 0;
  }
}

.yellow {
  position: relative;
  z-index: 1;
  padding: $mediumPadding 40px 40px 40px;
  background-color: $yellowBackground;
}

.whitearea {
  position: relative;
  z-index: 1;
  padding: 60px 40px 40px 40px;
  background-color: $whiteBackground;
}

.slick-slider {
  .slick-arrow {
    display: none !important;
  }
}

@media (min-width: $bigDesktopWidth) {
  .container {
    box-sizing: border-box;
    max-width: $mediumDesktopWidth;
  }
}

@media(max-width: $mediumDesktopWidth) {
  .container {
    padding: 0;
    max-width: $smallDesktopWidth;
  }
}

@media(max-width: $phoneWidth) {
  .dark {
    padding: 0 $mediumPadding;
  }

  .whitearea {
   padding: 40px $mediumPadding $mediumPadding $mediumPadding;
  }
  .yellow {
    padding: $mediumPadding;
  }
}