@import "variables";

.title {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin: $smallMargin auto $bigMargin auto;
  line-height: 210px;
  font-size: 275px;
  padding: 40px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: $whiteTextColor;
}

@media (max-width: $bigDesktopWidth) {
  .blog-container, .lain_nya-container {
    .title {
      font-size: 250px;
    }
  }
}

@media (max-width: 1279px) {
  .blog-container, .lain_nya-container {
    .title {
      font-size: 19vw;
    }
  }
}

@media (max-width: 893px) {
  .blog-container, .lain_nya-container {
    .title {
      font-size: 18vw;
    }
  }
}

@media (max-width: $phoneWidth) {
  .blog-container, .lain_nya-container {
    .title {
      margin: 0px 0px 28px 0px;
      padding: $mediumPadding 0;
      font-size: 19vw;
      line-height: 100px;
    }
  }
}

@media (max-width: 520px) {
  .blog-container, .lain_nya-container {
    .title {
      line-height: 90px;
    }
  }
}

@media (max-width: 446px) {
  .blog-container, .lain_nya-container {
    .title {
      font-size: 18vw;
      line-height: 70px;
    }
  }
}

@media (max-width: 360px) {
  .blog-container, .lain_nya-container {
    .title {
      margin: 0px 0px 28px 0px;
      line-height: 50px;
    }
  }
}