@import "variables";
@import "mixin";

.pilihan-editor, .tutorial-design {
  &-container {
    padding-bottom: 20px;
    .pilihan-editor, .tutorial-design {
      &-title {
        @include teaserBlockTitle;
      }
    }

    .slick-list {
      .slick-slide {
        border-right: 1px solid $grayBorderColor;
      }
    }
  }
}

.pilihan-editor {
  &-container {
    .slick-list {
      .slick-slide {
        border-right: 1px solid $grayBorderColor;

        .article-conatiner {
          .article {
            &-image {
             @include teaserObjectFitImage;
            }

            &-data {
              @include teaserBlockData;
            }
          }
        }
      }
    }
  }
}

.industri-design-container {
  padding: 40px 0;

  .industri-design-title {
    @include teaserBlockTitle;
    color: $whiteTextColor;
  }

  .industri-design-slider-container {
    .slick-list {
      .slick-slide {
        border-right: 1px solid rgb(128, 128, 128, 0.5);

        .article-conatiner {
          .article {
            &-image {
              @include teaserObjectFitImage;
            }

            &-data {
              @include teaserBlockData;
            }
          }
        }
      }
    }
  }
}